<section class="add_movies">
    <article>
        <form action="/movies/login" method="post">
            
            <div><input type="email" name="email" id="" placeholder="enter your email"></div>
            <div><input type="password" name="password" id="" placeholder="enter your password"></div>
                <div><button>add user</button>
           </div>
        </form>
    </article>
</section>