<section class="add_movies">
    <article>
        <form action="/movies/register" method="post">
            <div>
                <input type="text" name="username" id="" placeholder=" enter your name">
                </div>
            <div><input type="email" name="email" id="" placeholder="enter your email"></div>
            <div><input type="password" name="password" id="" placeholder="enter your password"></div>
            <div><input type="password" name="conformpassword" id="" placeholder="Reenter your password"></div>
            <div>
                <button>add user</button>
            </div>
        </form>
    </article>
</section>