

<section id="catogory_filter_container">
   <article>
    <h1>Search Movie page</h1>

<form action="/movies/search-movies" method="post">
    <input type="text" name="movie_title" placeholder="Enter movie details">
    <button>search</button>
</form>
   </article>
</section>
